/*css for second mock up of artist site. 02/14/16.*/
body {
	background-color: #fff; 
background-image: 
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em;
	/*use this until a background texture is found*/
}

.title {
	font-size: 30px !important;
	background-color: #A6F8FF !important;
}

#navbar {
	text-align: center;
}

#navbar ul {
}

#navbar li {
	/*note-float left takes away spacing between #navbar boxes on site*/
	display: inline;
	border: none;
	color: #3F0017;
	padding: 5px;
	border-radius: 100px;
	background-image: url ("http://photoshoptextures.com/wood-textures/stump-ring-texture.jpg");
	font-size: 1.2em;
	font-weight: bold;
	font-family: Raleway, Sans-serif;
	box-shadow: 10px 10px 5px #888888; 
}

#navbar li a {
	text-decoration: none;
	color: #3F0017;
}

#navbar li a:hover {
	color: #790225;
}

/*add an "active class" to current link to let the user know where they're at on the page.*/
p {
	font-family: Raleway, Sans-serif;
	color: #790225;
	font-weight: bold;
	font-size: 45px;
	text-align: center;
	clear: both;
}
 
 .active {
 	background-color: #A6F8FF !important;
 }



